{% extends "index.njk" %}
{% block content %}

  <div class="mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Create User</h2>
    </div>

    <form method="POST" action="/contacts">
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
          <input type="text" class="mdl-textfield__input" name="name"/>
          <label class="mdl-textfield__label">Name...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield">
          <input type="text" class="mdl-textfield__input" name="email"/>
          <label class="mdl-textfield__label">Email...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield">
          <textarea type="text" class="mdl-textfield__input" name="bio" rows="3"></textarea>
          <label class="mdl-textfield__label">Bio...</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          SAVE
        </button>
      </div>
    </form>
  </div>

{% endblock %}